name: Update Binaries

on:
  schedule:
    - cron: "0 20 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup environment
        run: |
          sudo apt update -y
          sudo apt install -y curl unzip jq yq tar gzip binutils

      - name: Run update script
        run: bash .github/workflows/fetch-binaries.sh

      - name: Commit and push updates
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git commit -m "Auto update binaries $(date '+%F %T')" || echo "No changes"
          git push || true
